/* Обнуление */
*{ padding: 0; margin: 0; border: 0; }
*,*:before,*:after{ -webkit-box-sizing: border-box; box-sizing: border-box; }
:focus,:active{outline: none;} a:focus,a:active{outline: none;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;} 
button{cursor: pointer;}
html, body { font-family: 'Times New Roman';}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body {
  position: relative;
}

body.lock {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* .wrapper.main {
  background: #363434;
} */
/* .wrapper.about {
  background-color: #027b94;
  background: url('../img/intro/intro1.jpeg') 0 0 no-repeat;
  background-size: cover;
} */
.content {
  padding: 80px 0 0 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

a.red {
  color: #fff;
  transition: .6s;
}

a.red:hover {
  color: red;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

ul.header__list li .active-page{
  color: #fbff08;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 3;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  height: 80px;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
  padding-top: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header__list li {
  position: relative;
}
.header__list li:hover::before {
  content: "";
  -webkit-transform: scaleX(1);
  transform: scaleX(1); 
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header__list li:before {
  content: "";
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
}
.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  overflow: hidden;
  transform: translateY(-5%);
  z-index: 3;
}
.header__logo h1 {
  padding: 40px 0 0 10px;
  color: white;
  float: left;
  align-items: center;
  font-size: 30px;
  width: 1900px;
  height: 100px;
}
.header__burger {
  display: none;
}
header.active__scroll {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
header.not-opacity {
  opacity: 1;
}

/* Back to top */
.back-to-top {
  position: fixed;
  margin-left: 10px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  display: none;
  border-color: transparent;
  border-radius: 50%;
  background-color: #629460;
  z-index: 10;
}

.back-to-top:hover,
.back-to-top:focus {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  outline: none;
}

.back-to-top::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  content: "↑";
  color: #f5f0f6;
}

/* Intro */
.intro {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.intro__body {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.269);
}
.intro__title {
  flex: 1 1 auto;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(14px + (50 - 14) * ((100vw - 280px) / (1280 - 280)));
  line-height: 1.1;
}
.intro__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Desc */
.desc {
  margin-top: -5px;
  width: 100%;
  background-color: #20228c;
  height: auto;
}
.desc__body {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 0;
}
.desc__text {
  text-align: center;
  max-width: 550px; 
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.1;
}

/* Info */
.info {
  background-color: #363434;
  height: 500px;
}
.info__inner {
  position: relative;
  padding-top: 50px;
}
.info__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info__item {
  flex: 0 1 50%;
  justify-content: center;
}
.info__title {
  display: flex;
  justify-content: center;
}
.info__title a {
  font-size: 18px;
  font-weight: 100;
  transition: .6s;
}
.info__img {
  width: 400px;
  height: 300px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
}
.zoom-hover {  
  cursor: pointer;
  transition: .9s;
}
.zoom-hover:hover {
  transform: scale(1.1);
}

/* Arenda */
.arenda {
  padding-top: 40px;
}
.arenda__text {
  text-align: center;
}
.arenda__block {
  display: flex;
  margin-right: 0;
  margin-left: 0;
  margin-top: 120px;
  padding-bottom: 80px;
  align-items: center;
}
.arenda__item {
  flex: 0 0 25%;
  text-align: center;
  margin-bottom: 40px;
}
.arenda__img {
  max-width: 230px;
}

/* Form */
.dws-container {
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 10;
  -webkit-transform: translateY(525px);
  transform: translateY(525px); 
  width: 350px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dws-container:hover {
  -webkit-transform: translateY(515px);
  transform: translateY(515px); 
}

.toggle-form:checked ~ .dws-container {
  -webkit-transform: translateY(0);
  transform: translateY(0); 
}

.toggle-form {
  display: flex;
  background: #8a36a5;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 10px 0;
  border-radius: 8px 8px 0 0;
  width: 85%;
}

.form-box {
  padding: 30px;
  background: #fff;
  border: 4px solid #8a36a5;
}

.input-box {
  position: relative;
  margin: 0 0 20px;
  background: #fff;
}

.label-text {
  position: absolute;
  line-height: 55px;
  font-size: 15px;
  color: #a5a5a5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.label-text::after {
  content: "*";
}

.focus .label-text {
  -webkit-transform: translateY(-36px);
  transform: translateY(-36px);
  font-size: 14px;
  color: #d33ebc;
}

.user-input {
  position: relative;
  background: transparent;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #575454;
  outline: none;
  border: none;
  border-bottom: 1px solid #a5a5a5;
}

.user-input.error {
  border-bottom: 1px solid red;
}

#checkbox.error {
  -webkit-box-shadow: 0 0 10px red;
  box-shadow: 0 0 10px red;
}

.user-input._error {
  border-bottom: 1px solid red;
}

#checkbox._error {
  -webkit-box-shadow: 0 0 10px red;
  box-shadow: 0 0 10px red;
}

form::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

form._sending::after {
  opacity: 1;
  visibility: visible;
}

label input[type="checkbox"] {
  display: flex;
}

label span {
  position: relative;
  left: 20px;
  bottom: 15px;
}

.button {
  background: #8a36a5;
  color: #fff;
  width: 45%;
  height: 35px;
  font-size: 18px;
  border: none;
  margin-top: 10px;
  margin-left: 50%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.button {
  padding: 8px 18px;
}

.button:hover {
  background: #b33edc;
}

.toggle-form i {
  position: absolute;
  top: 4px;
  left: 40px;
  display: flex;
  align-items: center;
  font-size: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.toggle-form[type="checkbox"] {
  display: none;
}

textarea.user-input {
  resize: none;
  min-height: 100px;
  margin-top: 12px;
}

.personal-doc,
.personal-doc a {
  color: #858585;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.personal-doc a:hover {
  text-decoration: none;
  color: #b33edc;
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
}

/* Footer */
footer {
  background-color: #675fed;
  padding: 50px 0;
  position: relative;
}
.footer__list li a {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  margin-left: 315px;
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
}

.footer__list li {
  max-width: 400px;
}
.footer__body {
  display: flex;
  flex-direction: column;
}
.footer__rules a{
  flex-direction: column;
  transition: .6s;
  display: flex;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
footer li {
  padding-bottom: 5px;
}
.footer__link::before {
  content: "";
  width: 4px;
  height: 10px;
  background: #b2242b;
  position: absolute;
  left: -10px;
  top: 3px;
}

/* Contact */
.contact {
  overflow: hidden;
  min-height: 740px;
  align-items: center;
}
.contact__content {
  flex: 0 0 100%;
}
.contact__container {
  max-width: 1360px; 
  padding: 0px 20px;
  display: flex;
  margin: 0px auto;
  align-items: center;
}
.contact__body {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 0;
}
.contact__item {
  font-size: 15px;
  width: 400px;
  max-width: 550px;
}
.contact__title {
  max-width: 400px;
  margin: 5px 0 5px 0;
  color: #ec1a1a;
  font-size: 20px;
  font-weight: normal;
}
.contact__text {
  max-width: 300px;
  font-size: 15px;
}
.contact__text p {
  margin-bottom: 9px;
}
.contact__text address {
  margin-bottom: 9px; 
}
.contact__text p a {
  color: #000;
}
.contact__img {
  height: 25px;
  margin-bottom: 9px;
  margin-left: 5px;
}
.map {
  max-width: 100%;
}

/* About */
div.about {
  background: url('../img/intro/intro1.jpeg') 0 0 no-repeat;
  background-size: cover;
}
.about-bg {
  background-color: rgba(0, 0, 0, 0.269);
  width: 100%;
}
.text {
  padding: 100px 0 50px;
}
h2.about {
	margin-top: 10px;
	max-width: 1060px;
  font-size: calc(9px + (18 - 9) * ((100vw - 280px) / (1280 - 280)));
	text-indent: 25px;
  width: 100%;
  color: #fff;
}
li.about  {
  font-weight: normal;
}
li.about::before {
	content: "✓";
	margin-right: 15px;
}
a.about {
  transition: .8s;
}

/* Rules */
.rules__title {
  margin-bottom: 15px;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 15px;
}
p.rules {
  font-size: 16px;
}

p.rules a {
  color: blue;
}

/* Private Police */
.item__title {
  margin-top: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Media */
@media (max-width: 2000px) {  
  .desc__text {
    font-size: calc(11px + (20 - 11) * ((100vw - 280px) / (1280 - 280)));
  }
}
@media (max-width: 1560px) {  
  .arenda__block {
    flex-direction: column;
  }
}
@media (min-width: 1030px) {  
  .contact {
    display: flex;
    margin-top: 20px;
  }
  .contact__body {
    padding: 0px 20px 50px 50px;
    width: 50%;
  }
  .map {
    padding: 0px 0px 22.5%;
    flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
    max-width: 555px;
    height: 458px;
    transform: translateX(-102.5%);
  }
  .map img {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

@media (max-width: 1175px) { 
  /* Info */ 
  .info {
    height: auto;
  }
  .info__item {
    padding: 0px 30px;
  }
  .info__img {
    width: 300px;
    height: 200px;
  }

  /* Footer */
  .footer__list li a {
    display: none;
  }
}

@media (max-width: 1029px) { 
  /* Contact */
  .contact__body {
    margin: 0 auto; 
  }
  .contact__item {
    margin: auto;
    text-align: center;
  }
  .contact__text {
    margin: auto;
  }
  .map {
    margin-top: 25px;
    text-align: center;
  }
}

@media (max-device-width: 767px) {
  /* Header */
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    top: 5px;
    margin-right: 40px;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu.active {
    top: 0;
  }

  .header__burger.active span {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__logo {
    position: relative;
    top: 0px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
    padding: 75px 0px 0px 0px;
    overflow: auto;
  }
  .header__list {
      display: block;
  }
  
  .header__list li {
    margin: 10px 0px 20px 0px;
    text-align: center;
  }

  .header__link {
    font-size: 15px;
  }

  .header__list li {
    position: relative;
  }

  .header__list li:hover:before {
    content: "";
    -webkit-transform: scaleX(1);
    -webkit-transition: 0.5s;
    transform: scaleX(1);
    transition: 0.5s;
  }

  .header__list li:before {
    content: "";
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    width: 100%;
  }
}

@media (max-width: 585px) {
  /* Form */
  .toggle-form {
    font-size: 15px;
  }
  .toggle-form i {
    position: absolute;
    top: 7px;
    left: 40px;
    font-size: 26px;
  }
  .dws-container {
    width: 250px;
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
  }
  .toggle-form:checked ~ .dws-container {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .button {
    margin-left: 20%;
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 25px;
  }
  .form-box {
    height: 500px;
  }
}

@media (max-width: 465px) {  
  /* Contact */
  .contact__body {
    width: 350px;
    position: relative;
  }
  .contact__item {
    text-align: center;
  }
  .contact__title {
    font-size: calc(17px + (20 - 17) * ((100vw - 280px) / (465 - 280)));
  }

  .contact__text {
    margin: 0px auto;
    font-size: calc(10px + (15 - 10) * ((100vw - 280px) / (465 - 280)));
  }

  .map {
    margin-left: 0;
    width: 320px;
    height: 360px;
  }
  .map img {
    position: relative;
    right: 50px;
  }
}

@media (max-width: 400px) { 
  /* Contact */
  .contact__body {
    width: 100%;
    margin: auto;
  }
  .contact__container {
    padding-left: 0;
    padding-right: 0;
  }
  .contact__item {
    width: 100%;
    max-width: 200px;
    margin: auto;
  } 

  /* Rules */
  .rules__title {
    font-size: calc(16px + (24 - 18) * ((100vw - 280px) / (400 - 280)));
  }
  p.rules {
    font-size: calc(13px + (15 - 10) * ((100vw - 280px) / (400 - 280)));
  }
}
  
@media (max-device-width: 345px) {
  /* Header */
  .header__burger {
    display: inline-flex;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 999;
    top: 1px;
    margin-right: 0px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
    padding: 75px 0px 0px 0px;
    overflow: auto;
  }

  .header__logo {
    top: -1px;
    flex: 0 0 180px;
  }
  
  .header__logo h1 {
    font-size: 25px;
  }

  /* Info */
  .info__img {
    height: 150px;
    width: 200px;
  }

  /* Footer */
  .footer-contact {
    margin-top: -150px;
  }

  /* Contact */
  .contact__item {
    font-size: 14px;
  }

  /* Map */
  .map {
    width: 320px;
    height: 360px;
  }

  .map img {
    right: 100px;
  }
}