@mixin flexbox() {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin inline-flexbox() {
    display: -webkit-inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: o-inline-flex;
    display: -moz-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
}

@mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin scale($num) {
    -moz-transform: scale($num);
    -ms-transform: scale($num);
    -webkit-transform: scale($num);
    -o-transform: scale($num);
    transform: scale($num);
}

@mixin translate($num, $num2) {
    -moz-transform: translate($num,$num2);
    -ms-transform: translate($num,$num2);
    -webkit-transform: translate($num,$num2);
    -o-transform: translate($num,$num2);
    transform: translate($num,$num2);
}

@mixin scaleX($num) {
    -moz-transform: scaleX($num);
    -ms-transform: scaleX($num);
    -webkit-transform: scaleX($num);
    -o-transform: scaleX($num);
    transform: scaleX($num);
}

@mixin alignItems($f) {
    -webkit-align-items: $f;
    -moz-align-items: $f;
    -ms-align-items: $f;
    align-items: $f;
}

@mixin textAlignCenter() {
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: -ms-center;
    text-align: center;
}

@mixin mixTransform($per, $tran, $tran2, $deg) {
    -moz-transform: perspective($per) translate($tran,$tran2) rotateX($deg);
    -ms-transform: perspective($per) translate($tran,$tran2) rotateX($deg);
    -webkit-transform: perspective($per) translate($tran,$tran2) rotateX($deg);
    -o-transform: perspective($per) translate($tran,$tran2) rotateX($deg);
    transform: perspective($per) translate($tran,$tran2) rotateX($deg);
}

@mixin transition($f) {
    -webkit-transition: $f;
    -moz-transition: $f;
    transition: $f;
}

@mixin flex($g,$sh,$b) {
    -webkit-box-flex: $g $sh $b;
    -ms-flex: $g $sh $b;
    flex: $g $sh $b;
}